.intro {
    height: 120vh;
    height: 750px;
    width: 100vw;
    transform: skew(0deg, 4deg) translateY(-10vh);
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: (20, 18, 48);
    background-color: rgb(217, 226, 255);
    background-color: rgb(242, 242, 242);
}

.introWrapper {
    width: 100%;
    transform: skew(0deg, -4deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.introDeco {
    width: 30px;
    height: 30px;
    position: relative;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.322);
    background-color: rgb(255, 255, 255);
}

.welcomeText {
    font-size: 20rem;
    font-weight: 300;
    white-space: nowrap;
    position: absolute;
    top: -130px;
    font-family: monospace;
    text-shadow: 2px 2px 3px 5px #c2c2c2;
    color: white;
    color: rgb(236, 236, 236);
    color: white;
}
.highlight {
    color: rgb(203, 202, 225);
    color: rgb(255, 192, 255);
}

.introCard {
    margin: auto;
    position: relative;
    top:20px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.322);
    color: white;
    padding: 0;
    display: flex;
    border-radius: 30px;
}

.introCol {
    width: 50%;
    height: 100%;
    padding: 40px;
}

.col1 {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px 0 0 30px;
}

.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.7rem;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(83,0,255,1) 50%, rgba(195,87,255,1) 100%);
    background: linear-gradient(135deg, rgba(10,0,185,1) 0%, rgba(83,0,255,1) 23%, rgba(155,27,255,1) 53%, rgba(235,75,250,1) 80%, rgba(255,110,246,1) 100%);
    background: linear-gradient(90deg, rgb(255, 87, 199), rgb(172, 220, 255));
    background: linear-gradient(90deg, rgb(255, 87, 199), rgb(172, 220, 255));
    color: white;
    border: 3px solid white;
    padding: 15px 25px;
}
.btn:hover {
    opacity: 80%;
}

.col2 {
    height: inherit;
    background-color: var(--light-pink);
    background-color: rgb(37, 37, 37);
    border-radius: 0 30px 30px 0;
}

.description {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    line-height: 1.5;
    font-size: 1.7rem;
}
  
.deco {
    position: absolute;
}