.intro {
    width: 100vw;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--black);
    overflow-y: hidden;
}

.introWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px 5%;
}

.welcomeWrapper {
    position: absolute;
    top: 0px;
}

.welcomeText {
    font-size: 20rem;
    font-weight: 300;
    white-space: nowrap;
    font-family: 'Monoton', 'Roboto Mono', 'Courier New', monospace;
    color: rgb(167, 167, 167);
}
.highlight {
    color: rgb(230, 230, 230);
}

.logo {
    z-index: 50;
}

.introCard {
    margin: auto;
    position: relative;
    top: -100px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.322);
    color: white;
    padding: 0;
    display: flex;
    border-radius: 30px;
    z-index: 30;
}

.introCol {
    height: 100%;
    padding: 40px;
    width: 50%;
}

.col1 {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px 0 0 30px;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}

.btn {
    margin-top: 20px;
    border: 2px solid var(--black);
    width: 137px;
}
.btn:hover {
    transform: translate(5px, -5px);
    box-shadow: -4px 3px 4px 3px rgba(0, 0, 0, 0.111);
}

.col2 {
    height: inherit;
    background-color: rgb(37, 37, 37);
    border-radius: 0 30px 30px 0;
}

.description {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    line-height: 1.5;
    font-size: 1.6rem;
}
  
.deco {
    position: absolute;
}

@media (max-width: 1000px) {
    .introWrapper {
        padding: 40px 3% 180px 3%;
    }
    .introCard {
        top: -50px;
    }
    .col2 {
        width: 70%;
    }
}
@media (max-width: 800px) {
    .introWrapper {
        padding: 40px 0 180px 0;
    }
}
@media (max-width: 750px) {
    .introWrapper {
        padding: 40px 3% 380px 3%;
    }
    .introCard {
        flex-direction: column-reverse;
    }
    .introCol {
        width: 100%;
    }
    .col1 {
        height: 10%;
        border-radius: 0 0 30px 30px;
    }
    .btnWrapper {
        flex-direction: row;
        top: 0;
    }
    .btn {
        margin: 0 0 0 5px;
    }
    .col2 {
        height: 90%;
        border-radius: 30px 30px 0 0;
    }
}
@media (max-width: 620px) {
    .welcomeText {
        display: none;
    }
    .introCard {
        top: 0;
    }
}
@media (max-width: 600px) {
    .introWrapper {
        padding: 40px 3% 520px 3%;
    }
    .btnWrapper {
        flex-direction: column;
    }
    .btn {
        margin: 10px 0 0 0;
    }
}
@media (max-width: 550px) {
    .introWrapper {
        padding: 40px 3% 550px 3%;
    }
}
@media (max-width: 400px) {
    .introWrapper {
        padding: 40px 0 550px 0;
    }
}