.intro {
    height: 120vh;
    height: 750px;
    width: 100vw;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(24, 24, 24);
    /*background: linear-gradient(135deg, rgba(139,211,255,1) 0%, rgba(126,114,255,1) 68%, rgb(161, 93, 229) 100%);*/
    /*transform: skew(0deg, 4deg);*/
}

.introWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /*transform: skew(0deg, -4deg);*/
}

.introDeco {
    width: 30px;
    height: 30px;
    position: relative;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.322);
    background-color: rgb(255, 255, 255);
}

.welcomeWrapper {
    position: absolute;
    top: -0px;
}
/*@media (max-width: 620px) {
  .welcomeWrapper {
    display: none;
  }
}*/

.welcomeText {
    font-size: 20rem;
    font-weight: 300;
    white-space: nowrap;
    font-family: 'Monoton', 'Roboto Mono', 'Courier New', monospace;
    color: rgb(167, 167, 167);
}
.highlight {
    color: rgb(230, 230, 230);
}

.logo {
    position: relative;
    margin-top: 0px;
    z-index: 50;
}

.introCard {
    margin: auto;
    position: relative;
    top: -240px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.322);
    color: white;
    padding: 0;
    display: flex;
    border-radius: 30px;
    z-index: 30;
}

.introCol {
    width: 50%;
    height: 100%;
    padding: 40px;
}

.col1 {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-radius: 30px 0 0 30px;
}

.btnWrapper {
    margin: 30px;
}

.btn {
    border-radius: 8px;
    background-color: rgb(172, 220, 255);
    background: linear-gradient(90deg, rgb(255, 87, 199), rgb(172, 220, 255));
    color: white;
    padding: 15px 25px;
    margin-left: 20px;
}
.btn:hover {
    opacity: 80%;
}

.col2 {
    height: inherit;
    background-color: rgb(37, 37, 37);
    border-radius: 0 30px 30px 0;
}

.description {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    line-height: 1.5;
    font-size: 1.7rem;
}
  
.deco {
    position: absolute;
}