.intro {
    width: 100vw;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--black);
    /*background: linear-gradient(135deg, rgba(139,211,255,1) 0%, rgba(126,114,255,1) 68%, rgb(161, 93, 229) 100%);*/
}

.introWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.welcomeWrapper {
    position: absolute;
    top: 0px;
}

.welcomeText {
    font-size: 20rem;
    font-weight: 300;
    white-space: nowrap;
    font-family: 'Monoton', 'Roboto Mono', 'Courier New', monospace;
    color: rgb(167, 167, 167);
}
.highlight {
    color: rgb(230, 230, 230);
}

.logo {
    z-index: 50;
    margin-top: 80px;
}

.introCard {
    margin: auto;
    position: relative;
    top: -100px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.322);
    color: white;
    padding: 0;
    display: flex;
    border-radius: 30px;
    z-index: 30;
}

.introCol {
    width: 50%;
    height: 100%;
    padding: 40px;
}

.col1 {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px 0 0 30px;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
}

.col2 {
    height: inherit;
    background-color: rgb(37, 37, 37);
    border-radius: 0 30px 30px 0;
}

.description {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    line-height: 1.5;
    font-size: 1.6rem;
}
  
.deco {
    position: absolute;
}

@media (max-width: 620px) {
    .welcomeText {
        display: none;
    }
    .introCard {
        top: 0;
    }
}