.intro {
    height: 110vh;
    width: 100vw;
    transform: skew(0deg, 4deg) translateY(-10vh);
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(10,0,185);
    background: linear-gradient(135deg, rgba(10,0,185,1) 0%, rgba(83,0,255,1) 23%, rgba(155,27,255,1) 53%, rgba(235,75,250,1) 80%, rgba(255,110,246,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(83,0,255,1) 50%, rgba(195,87,255,1) 100%);
}

.introWrapper {
    width: 100%;
    transform: skew(0deg, -4deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.introCard {
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.322);
    background: linear-gradient(90deg, rgb(255, 87, 199), rgb(172, 220, 255));
    background-color: white;
}

.introText {
    width: 40%;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.322);
    background-color: rgb(32, 32, 32);
    color: white;
}

.description {
    margin: 3rem 0 0 0;
    line-height: 1.5;
    font-size: 1.7rem;
}
  