.cardWrapper {
    margin: 0px 20px 40px 20px;
}

.faqCard {
    background-color: rgb(255, 241, 252);
    background: linear-gradient(90deg, rgb(255, 229, 249), rgb(255, 241, 252), rgb(255, 208, 245));
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.322);
    padding: 10px 30px;
    transition: .5s ease;
    border-radius: 5px;
}
.faqCard:hover {
    background-color: rgb(255, 181, 239);
    box-shadow: 1px 1px 7px 3px rgba(199, 199, 199, 0.322);
    transform: translateY(-8px);
    cursor: pointer;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
}

.grid {
    margin-top: 50px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

@media (max-width: 750px) {
    .grid {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .faqCard {
        width: 100%;
    }
}

.answer {
    color: black;
    animation: fadeIn 1s ease 0s 1 forwards;
    line-height: 1.35;
}

.fadeIn {
    animation: fadeIn .5s ease 0s 1 forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
  
.fadeOut {
    animation: fadeOut .5s ease 0s 1 forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.toggleAnim {
    animation: toggle .5s ease 0s 1 forwards;
}
@keyframes toggle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}