.faqs {
    background-color: rgb(30, 32, 32);
    background: rgb(156,228,255);
    transform: skew(0deg, 4deg);
    background: linear-gradient(135deg, rgba(139,211,255,1) 0%, rgba(126,114,255,1) 68%, rgb(161, 93, 229) 100%);
    background: linear-gradient(-45deg, rgb(255, 218, 69) 0%, rgb(248, 151, 255) 100%);
    background: linear-gradient(-45deg, rgb(69, 255, 249) 0%, rgb(248, 151, 255) 100%);
}

.faqsWrapper {
    transform: skew(0deg, -4deg);
}

.cardWrapper {
    margin: 0px 20px 40px 20px;
}

.faqCard {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.203);
    padding: 10px 30px;
    transition: .3s ease;
    border-radius: 5px;
}
.faqCard:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
}

.grid {
    margin-top: 50px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
@media (max-width: 750px) {
    .grid {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .faqCard {
        width: 100%;
    }
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqArrow {
    transition: .5s ease;
}

.answer {
    color: rgb(255, 255, 255);
    animation: fadeIn 1s ease 0s 1 forwards;
    line-height: 1.35;
}

.fadeIn {
    animation: fadeIn .5s ease 0s 1 forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
  
.fadeOut {
    animation: fadeOut .5s ease 0s 1 forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.toggleAnim {
    animation: toggle .5s ease 0s 1 forwards;
}
@keyframes toggle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}