.cardWrapper {
    margin: 0px 20px 40px 20px;
}

.faqCard {
    background-color: rgb(255, 241, 252);
    box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.322);
    padding: 15px 30px;
    transition: .5s ease;
}
.faqCard:hover {
    background-color: rgb(255, 181, 239);
    transform: translateY(-8px);
    cursor: pointer;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
}

.grid {
    margin-top: 50px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

@media (max-width: 750px) {
    .grid {
        flex-direction: column;
    }
    .faqCard {
        width: 100%;
    }
}

.answer {
    color: black;
    animation: fadeIn 1s ease 0s 1 forwards;
    line-height: 1.35;
}

.fadeIn {
    animation: fadeIn .5s ease 0s 1 forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
  
.fadeOut {
    animation: fadeOut .5s ease 0s 1 forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}