.cardWrapper {
    margin: 0px 20px 40px 20px;
}

.faqCard {
    background-color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 87, 199), rgb(172, 220, 255));
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
    padding: 10px 30px;
    transition: .5s ease;
    border-radius: 5px;
}
.faqCard:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
}

.grid {
    margin-top: 50px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

@media (max-width: 750px) {
    .grid {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .faqCard {
        width: 100%;
    }
}

.answer {
    color: rgb(255, 255, 255);
    animation: fadeIn 1s ease 0s 1 forwards;
    line-height: 1.35;
}

.fadeIn {
    animation: fadeIn .5s ease 0s 1 forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
  
.fadeOut {
    animation: fadeOut .5s ease 0s 1 forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.toggleAnim {
    animation: toggle .5s ease 0s 1 forwards;
}
@keyframes toggle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}