.faqCard {
    background-color: white;
    width: 40%;
    margin: 20px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
}