
.footer {
    padding: 2rem 0;
    height: 500px;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    color: black;
}
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.contact {
    background-color: rgb(244, 244, 244);
}