.footer {
    width: 100vw;
    position: relative;
    top: 200px;
    margin: 0;
    padding: 0px 80px 20px 80px;
    height: 250px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    width: 40px;
}

.contact {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}

.colContainer {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.col {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.link {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 400;
}

.icon {
    color: black;
    margin-bottom: 15px;
    font-size: 2rem;
}

.deco {
    background-color: rgb(244, 244, 244);
}

.disclaimer {
    font-size: 1.5rem;
}

@media (max-width: 630px) {
    .footer {
        padding: 0px 50px 20px 50px;
    }
}