:root {
  --light-pink: rgb(255, 202, 248);
  --bright-pink: rgb(255, 68, 227);
  --dark-pink: rgb(56, 0, 168);

  --darker: rgb(0, 7, 112);
  --dark: rgb(0, 11, 168);
  --main: rgb(24, 40, 255);
  --main-light: rgb(66, 94, 255);
  --light: rgb(103, 126, 255);
  --lighter: rgb(163, 177, 255);
  --lighterer: rgb(232, 236, 255);

  --sub: orange;
  --sub-light: rgb(255, 183, 50);
  --sub-lighter: rgb(255, 202, 103);
  --sub-lighterer: rgb(255, 244, 223);
}

html{
  font-size: 62.7%;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.body-container {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  position: fixed;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.nav-element {
  text-align: left;
  cursor: pointer;
  margin: 1rem;
  color: rgb(212, 212, 212);
  transition: color 0.25s;
}

.navbar-active {
  color: rgb(255, 100, 100);
}

.nav-label {
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

li:hover .nav-label {
  opacity: 1;
}

ul {
  list-style-type: none;
}

select {
  outline: none;
  border: 1px solid var(--dark);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 2.3rem;
  font-weight: 300;
  color: var(--darker);
  background-color: transparent;
}
option {
  outline: none;
  border: 1px solid var(--dark);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0 0 0 40px;
  color: var(--darker);
  background-color: transparent;
}

textarea{
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
  height: fit-content;
  overflow: hidden;
  resize: none;
}
input{
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
  background-color: transparent;
}
.input {
  border-bottom: 1px solid var(--main);
  padding: 7px 3px 7px 3px;
  margin: 1rem;
  color: black;
  width: 45%;
  line-height: 23px;
  background-color: transparent;
}

a {
  color: var(--light);
  text-decoration: none;
  font-size: inherit; 
  transition: .5s ease;
}
a:hover {
  cursor: pointer;
  color: var(--bright-pink);
}

h1 a:hover,
h1 a:focus,
h1 a:active {
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

button{
  outline: none;
  border: solid 2.6px var(--bright-pink);
  background-color: white;
  color: var(--bright-pink);
  border-radius: 50px;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  transition: .5s ease;
  padding: 8px 12px;
  margin: 0;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: var(--bright-pink);
}

.button2 {
  outline: none;
  border: none;
  background-color: white;
  color: var(--main);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 1s ease;
  padding: 3px 10px;
  margin: 0 1rem .5rem .5rem;
  cursor: pointer;
}
.button2:hover {
  color: var(--light);
}

.usable-btn {
  border-radius: 25px;
  background-color: var(--main-light);
  color: white;
  padding: 10px 12px;
}
.usable-btn:hover {
  background-color: var(--light);
  color: white;
}

.unusable-btn {
  border-radius: 25px;
  background-color: var(--lighter);
  color: white;
  padding: 10px 12px;
}
.unusable-btn:hover {
  cursor: auto;
  color: white;
}

.container{
  margin: 110px auto 60px auto;
  width: 80%;
  max-width: 1000px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-btn {
  background-color: white;
  color: var(--light)
}
.switch-btn:hover {
  background-color: white;
}

.cardset-name {
  width: 70%;
  font-size: 3rem;
  font-weight: 600;
  color: var(--light);
  position: relative;
  top: -10px;
  left: 20px;
}

.section {
  width: 100vw;
  max-width: 1400px;
  height: 80vh;
  padding: 40px;
  margin: 2rem auto;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.deck-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 50px;
}

.grow {
  animation: grow .5s ease 0s 1 forwards;
}
@keyframes grow {
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.shrink {
  animation: shrink .5s ease 0s 1 forwards;
}
@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    opacity: 100%;
  }
  100% {
    transform: scale(.01);
    opacity: 0%;
  }
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.349);
  opacity: 0%;
  display: none;
  z-index: 600;
  overflow: hidden;
}

.fadeIn {
  animation: fadeIn .5s ease 0s 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.fadeOut {
  animation: fadeOut .5s ease 0s 1 forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
