:root {
  --light-pink: rgb(255, 202, 248);
  --pink: rgb(255, 145, 240);
  --bright-pink: rgb(255, 68, 227);
  --dark-pink: rgb(56, 0, 168);

  --black: rgb(24, 24, 24);

  --darker: rgb(0, 7, 112);
  --dark: rgb(0, 11, 168);
  --main: rgb(24, 40, 255);
  --main-light: rgb(66, 94, 255);
  --light: rgb(103, 126, 255);
  --lighter: rgb(163, 177, 255);
  --lighterer: rgb(232, 236, 255);

  --sub: orange;
  --sub-light: rgb(255, 183, 50);
  --sub-lighter: rgb(255, 202, 103);
  --sub-lighterer: rgb(255, 244, 223);
}

html {
  font-size: 62.7%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', 'Inter', -apple-system, sans-serif;
}

/*@media (max-width: 620px) {
  html {
    overflow-x: hidden;
  }
}*/

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: white;
}

* {
  box-sizing: border-box;
}

.body-container {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: white;
  font-weight: 650;
  text-decoration: none;
  font-size: inherit; 
  transition: .5s ease;
}
a:hover {
  color: var(--lighter);
  cursor: pointer;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-family: 'Open Sans',  sans-serif;
}

button{
  outline: none;
  border:none;
  background-color: white;
  color: black;
  width: fit-content;
  border-radius: 50px;
  font-family: 'Roboto Mono';
  font-weight: 600;
  font-size: 1.6rem;
  transition: .5s ease;
  padding: 8px 12px;
  margin: 0;
  border: 2px solid white;
  padding: 13px 20px;
  padding: 10px 15px;
}
button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.buttonWrapper {
  background-color: white;
  width: auto;
  border-radius: 10px;
  position: absolute;
}

.card {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 8px 5px rgba(128, 128, 128, 0.322);
  border-radius: 10px;
  padding: 30px;
}

.section {
  width: 100vw;
  max-width: 1400px;
  padding: 100px 100px 40px 100px;
  margin: 0 auto;
  background-color: #2f2f2f;
}

.grow {
  animation: grow .5s ease 0s 1 forwards;
}
@keyframes grow {
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.shrink {
  animation: shrink .5s ease 0s 1 forwards;
}
@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    opacity: 100%;
  }
  100% {
    transform: scale(.01);
    opacity: 0%;
  }
}

.fadeIn {
  animation: fadeIn .5s ease 0s 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.fadeOut {
  animation: fadeOut .5s ease 0s 1 forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@media (max-width: 1000px) {
  .section {
    padding: 100px 50px 40px 50px;
  }
}
@media (max-width: 400px) {
  .section {
    padding: 100px 30px 40px 30px;
  }
}
@media (max-width: 400px) {
  .section {
    padding: 100px 10px 40px 10px;
  }
}