:root {
  --light-pink: rgb(255, 202, 248);
  --pink: rgb(255, 145, 240);
  --bright-pink: rgb(255, 68, 227);
  --dark-pink: rgb(56, 0, 168);

  --darker: rgb(0, 7, 112);
  --dark: rgb(0, 11, 168);
  --main: rgb(24, 40, 255);
  --main-light: rgb(66, 94, 255);
  --light: rgb(103, 126, 255);
  --lighter: rgb(163, 177, 255);
  --lighterer: rgb(232, 236, 255);

  --sub: orange;
  --sub-light: rgb(255, 183, 50);
  --sub-lighter: rgb(255, 202, 103);
  --sub-lighterer: rgb(255, 244, 223);
}

html{
  font-size: 62.7%;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: white;
  /**
  background: linear-gradient(135deg, rgb(255, 138, 235) 20%, rgb(64, 160, 255) 100%);
  background: linear-gradient(135deg, rgb(255, 138, 235) 40%, rgba(89,141,255,1) 60%, rgba(105,90,255,1) 81%, rgba(170,82,255,1) 100%);
  background: linear-gradient(135deg, rgba(255, 138, 235, 0.554) 40%, rgba(89, 142, 255, 0.487) 60%, rgba(104, 90, 255, 0.499) 81%, rgba(171, 82, 255, 0.51) 100%);
  **/
}

* {
  box-sizing: border-box;
}

.body-container {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  position: fixed;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.nav-element {
  text-align: left;
  cursor: pointer;
  margin: 2rem;
  color: rgb(212, 212, 212);
  transition: color 0.25s;
  font-size: 1rem;
}

.navbar-active {
  color: rgb(88, 88, 88);
}

.nav-label {
  transition: opacity 0.25s;
  border-radius: 0.5rem;
  padding-left: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0%;
}

li:hover .nav-label {
  opacity: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: var(--pink);
  font-weight: 700;
  text-decoration: none;
  font-size: inherit; 
  transition: .5s ease;
}
a:hover {
  color: var(--light-pink);
  cursor: pointer;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

button{
  outline: none;
  border:none;
  background-color: white;
  color: black;
  border-radius: 50px;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  transition: .5s ease;
  padding: 8px 12px;
  margin: 0;

}
button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}

.buttonWrapper {
  background-color: white;
  width: auto;
  border-radius: 10px;
  position: absolute;
}

.card {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 8px 5px rgba(128, 128, 128, 0.322);
  border-radius: 10px;
  padding: 30px;
}

.section {
  width: 100vw;
  max-width: 1400px;
  padding: 100px 100px 40px 100px;
  margin: 0 auto;
  background-color: #2f2f2f;
}

.grow {
  animation: grow .5s ease 0s 1 forwards;
}
@keyframes grow {
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.shrink {
  animation: shrink .5s ease 0s 1 forwards;
}
@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    opacity: 100%;
  }
  100% {
    transform: scale(.01);
    opacity: 0%;
  }
}

.fadeIn {
  animation: fadeIn .5s ease 0s 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.fadeOut {
  animation: fadeOut .5s ease 0s 1 forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}