.vantaBg {
  height: 118vh;
  margin: 0;
  width: 100vw;
  left: 0vw;
  padding: 30vh 10rem;
}

.titleWrapper {
  left: 0vw;
}

@keyframes slideIn {
  to {
    left: 0;
  }
}

.title {
  position: relative;
  left: -200px;
  animation: slideIn 1s ease-in-out 0s 1 normal forwards;
  width: fit-content;
  padding: 0;
  font-size: 10rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  background: -webkit-linear-gradient(135deg, rgb(255, 165, 255), rgb(172, 220, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Zen Dots', 'Monoton', 'Roboto Mono', 'Press Start 2p';
}

.subtitle {
  position: relative;
  left: -200px;
  animation: slideIn 1s ease-in-out .5s 1 normal forwards;
  color: rgb(205, 205, 205);
  color: rgb(233, 233, 233);
  font-family: 'Share', 'Koulen', 'Plus Jakarta Sans', 'Inter', 'Open Sans', monospace;
  font-size: 3.8rem;
}

.btn {
  position: relative;
  left: -200px;
  animation: slideIn 1s ease-in-out 1s 1 normal forwards;
  width: fit-content;
  border-radius: 50px;
  /*background: linear-gradient(90deg, rgb(255, 87, 199), rgb(172, 220, 255));*/
  background-color: var(--black);
  transition: background .5s ease;
  border: 2px solid white;
  color: white;
  padding: 13px 20px;
  padding: 10px 15px;
  transition: .5s ease;
}
.btn:hover {
  /*background-color: white;
  color: var(--black);
  border-color: var(--black);*/
  opacity: 70%;
}

.btnWrapper {
  margin-top: 30px;
  border-radius: 50px;
  background-color: transparent;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}