.vantaBg {
  height: 118vh;
  margin: 0;
  width: 100vw;
  left: 0vw;
  padding: 30vh 10rem;
}

.titleWrapper {
  left: 0vw;
}

.title {
  padding: 0;
  font-size: 9rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.subtitle {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.5rem;
}

.btn {
  width: 183px;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.7rem;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(83,0,255,1), rgba(195,87,255,1));
  background: linear-gradient(90deg, rgb(255, 87, 199), rgb(172, 220, 255));
  transition: background .5s ease;
  color: white;
  padding: 15px 25px;
  transition: opacity .5s ease;
}
.btn:hover {
  opacity: 70%;
}

.btnWrapper {
  margin-top: 30px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}