.vantaBg {
  height: 120vh;
  margin: 0;
  width: 100vw;
  left: 0vw;
  padding: 30vh 10rem;
  background-color: white;
}

.titleWrapper {
  left: 0vw;
}

.title {
  padding: 0;
  font-size: 9rem;
  font-weight: 300;
}

.subtitle {
  color: var(--pink);
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.5rem;
}

.btn {
  font-family: inherit;
  font-weight: 900;
  font-size: 1.7rem;
  border-radius: 8px;
}

.intro {
  height: 110vh;
  width: 100vw;
  transform: skew(0deg, 4deg) translateY(-10vh);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(10,0,185);
  background: linear-gradient(135deg, rgba(10,0,185,1) 0%, rgba(83,0,255,1) 23%, rgba(155,27,255,1) 53%, rgba(235,75,250,1) 80%, rgba(255,110,246,1) 100%);
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(83,0,255,1) 50%, rgba(195,87,255,1) 100%);
}

.introWrapper {
  width: 50%;
  margin: 0 auto;
  transform: skew(0deg, -4deg);
}

.description {
  text-align: left;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}