.page {
    background-color: var(--black);
    margin: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: 1s ease;
    overflow: hidden;
}

.loader {
    margin: auto;
}