.page {
    background-color: var(--black);
    margin: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: 1s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1s ease-in-out 4s 1 normal forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0%;
    }
}