.navbarTop {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: rgba(255, 255, 255, 0.768);
}

.navLinksWrapper {
    top: 0;
    right: 0;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.navLink {
    color:rgb(166, 166, 166);
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 0 0px 10px;
    transition: 0.5s ease;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.navLink:hover {
    color: var(--light);
    cursor: pointer;
}

.navbar {
    position: fixed;
    z-index: 100;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
}

.navElement {
    text-align: right;
    cursor: pointer;
    margin: 1rem;
    color: #aaa;
    transition: color 0.25s;
}

.navSpot:hover {
    color: black;
}

.nav-active {
    color: black;
}

li:hover .navLink {
    opacity: 1;
    background-color: #fff;
}