.navbar {
    position: fixed;
    z-index: 100;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
}

.link {
    color: var(--light);
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 10px 10px;
}
.link:hover {
    color: var(--dark);
}

.nav {
    position: fixed;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    right: 0;
}

.nav-element {
    text-align: right;
    cursor: pointer;
    margin: 1rem;
    color: #aaa;
    transition: color 0.25s;
}

.navbar-active {
    color: #000;
}

.nav-label {
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

li:hover .nav-label {
    opacity: 1;
    background-color: #fff;
}