.navbarTop {
    --linkSub: rgb(164, 164, 164);
    --linkPrim: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.762);
    backdrop-filter: blur(6px);
}

.navLinksWrapper {
    top: 0;
    right: 0;
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.navLink {
    color: var(--linkPrim);
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 0 0px 10px;
    transition: 0.5s ease;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.navLink:hover {
    cursor: pointer;
}