.awards {
    color: white;
    background-color: rgb(244, 244, 244);
    background-color: transparent;
    transform: skew(0deg,-2deg);
    padding-bottom: 80px;
}

.awardsWrapper {
    transform: skew(0deg, 2deg);
}

.awardsGridWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.awardsTitle {
    color: rgb(59, 59, 59);
}

.awardCard {
    width: 30%;
    max-width: 280px;
    height: 250px;
    margin-top: 55px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 2px rgba(121, 121, 121, 0.223);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .7s ease;
    text-align: center;
}
.awardCard:hover {
    transform: scale(.95);
}

.awardName {
    margin: 20px 0 0 0;
}

.awardDescrip {
    margin: 20px 0 0 0;
    font-size: 1.5rem;
    line-height: 20px;
    text-align: center;
}

@media (max-width: 900px) {
    .awardsGridWrapper {
        margin-top: 25px;
    }
    .awardCard {
        width: 50%;
        margin: 25px auto;
    }
}
@media (max-width: 800px) {
    .awardsGridWrapper {
        margin-top: 25px;
    }
    .awardCard {
        width: 43%;
        margin: 25px auto;
    }
}
@media (max-width: 660px) {
    .awardsGridWrapper {
        margin-top: 35px;
    }
    .awardCard {
        width: 100%;
        margin: 25px auto;
    }
}