.awards {
    color: white;
    background-color: rgb(244, 244, 244);
    background-color: transparent;
    transform: skew(0deg,-2deg);
    padding-bottom: 80px;
}

.awardsWrapper {
    transform: skew(0deg, 2deg);
}

.awardsGridWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.awardsTitle {
    color: rgb(59, 59, 59);
}

.awardCard {
    width: 30%;
    max-width: 330px;
    height: 250px;
    margin-top: 55px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 2px rgba(121, 121, 121, 0.223);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .7s ease;
    text-align: center;
}
.awardCard:hover {
    transform: scale(1.05);
}

.awardName {
    margin: 20px 0 0 0;
}

.awardDescrip {
    margin: 20px 0 0 0;
    font-size: 1.5rem;
    line-height: 20px;
    text-align: center;
}