.awards {
    color: white;
    background-color: rgb(244, 244, 244);
}

.awardsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.awardCard {
    width: 30%;
    margin-top: 55px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 2px rgba(121, 121, 121, 0.223);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .7s ease;
}
.awardCard:hover {
    transform: scale(1.05);
}

.awardName {
    margin: 20px 0 0 0;
}

.awardDescrip {
    margin: 20px 0 0 0;
}