.schedule {
    background-color: #171717;
    color: white;
}

.scheduleTitle {
    margin: 0 0 20px 10px;
}

.legend {
    margin: 20px 0;
}

.btn {
    color: white;
    background-color: rgb(59, 59, 59);
    margin: 0 10px;
    font-size: 1.8rem;
}
#all {
    color: black;
    background-color: white;
}

.scheduleWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.colDate {
    font-weight: 500;
    font-size: 1.8rem;
    margin: 0 0 0 5px;
    color: rgb(201, 201, 201);
}
.colName {
    font-weight: 500;
    margin: 0;
}

.scheduleCol {
    width: 33%;
    margin-left: 10px;
}

.eventBox {
    background: rgb(0,153,255);
    background: linear-gradient(135deg, rgba(0,153,255,1) 0%, rgba(195,87,255,1) 100%);
    color: white;
    padding: 20px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0);
}

.eventBox2 {
    background: rgb(255,203,0);
    background: linear-gradient(135deg, rgba(255,203,0,1) 0%, rgba(245,116,255,1) 100%);
}
  
.eventBox3 {
    background: rgb(255,119,244);
    background: rgb(106,255,150);
    background: linear-gradient(135deg, rgba(106,255,150,1) 0%, rgba(112,140,255,1) 100%);
    background: linear-gradient(135deg, rgba(255,119,244,1) 0%, rgba(116,197,255,1) 100%);
}
  
.time {
    margin: 10px 0 10px 0;
    font-weight: 400;
}

.title {
    margin: 20px 0 10px 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.sub {
    margin: 10px 0 0px 0;
    font-weight: 400;
}