.sponsors {
    background-color: rgb(244, 244, 244);
    transform: skew(0deg,-2deg);
    padding-top: 180px;
    padding-bottom: 10px;
}

.sponsorsWrapper {
    transform: skew(0deg, 2deg);
}

.gridWrapper {
    margin: 50px auto;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    color: rgb(59, 59, 59);
}

.sponsorCard {
    transition: .7s ease;
    padding: 25px 40px;
    margin: auto;
}
.sponsorCard:hover {
    transform: scale(1.1);
    cursor: pointer;
}