.sponsors {
    color: white;
    background-color: rgb(244, 244, 244);
    transform: skew(0deg,-2deg);
    padding-bottom: 80px;
}

.sponsorsWrapper {
    transform: skew(0deg, 2deg);
}

.gridWrapper {
    margin: 50px auto;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    color: rgb(59, 59, 59);
}

.sponsorCard {
    margin-top: 55px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 2px rgba(121, 121, 121, 0.223);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .7s ease;
    text-align: center;
}
.sponsorCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.sponsorName {
    margin: 20px 0 0 0;
}

.sponsorDescrip {
    margin: 20px 0 0 0;
    font-size: 1.5rem;
    line-height: 20px;
    text-align: center;
}